.tentangKiri{
    background-image: url(/src/components/Pic/background.png); 
    height: 100vh;
    /* width: 100%; */
    background-size: 300px;
 }
 
 .tentangKiri-container{
     
    /* display: flex; */
     /* align-items: center;
     justify-self: center; */
     /* background-color: brown; */
     /* height: 50%; */
     /* width: 50%; */
     position: relative;
  top: 10%;
  left: 20%;
  /* left: 60%;
  transform: translate(-50%, -50%); */

     /* margin: 0 auto; */
     
     /* margin: 0 auto;
     height: 88vh;
     z-index: 1;
     width: 100%;
     max-width: 1200px; */
     /* padding: 0 50px; */
 }

 .gbr-tentang{
     background: brown;
     background-size: cover;
     width: 60%;
    height: 40%;
 }

 .gbr-tentang img{
    background:brown;
     
     height: 40%;
     width: 100%;
     /* align-items: center;
     justify-self: center; */
 }