.PenjelasanKuliahKanan{
    background-color: #FBF7EC; 
    height: 100vh;
    /* width: 100%; */
    /* align-items: center; */
    background-size: 300px;
 }

.penjelasanKuliahKanan-container{
    position: absolute;
  top: 20%;
  margin-left: 5%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

 .box-penjelasanKuliah{
    width:80%;
    background-color: #9D1717;
    padding: 10px 25px 50px 25px;
    border: 3px solid #ad7b19;
    outline: 1px solid #aa7f19;
    outline-offset: -15px;
    position: relative;
    /* left: 50%; */
    /* position: absolute; */
    /* transform: translateX(-50%); */
    text-align: center;
    margin-bottom: 50px;
 }

 .box-penjelasanKuliah p{
     color: white;
 }

 .box-pembicaraPenjelasan{
    width: 30%;
    height: 50%;
    background:rgba(0, 0, 0, 0.8);
    border: 3px solid #97721d;
    background-size: cover;
    margin: 50px 0 0 0px;
 }

 .box-pembicaraPenjelasan img{
    width: 100%;
    height: 50%;
 }

 .border-penjelasan img{
    width: 100%;
 }

