/* .sizing {
    display: block;
    flex: none;
    width: 33,3333%;
    height: 100vh;
}

@media only screen and (max-width: 780px){
    .sizing {
        display: block;
        flex: none;
        width: 100vw; 
        height: 33,3333%;
    }
} */