body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }
  /* * {
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
  } */

  .tombolHasil{
    font-size: 1rem;
    padding: 15px 60px;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: #fff;
    /* margin-top: 2rem; */
    cursor:pointer;
    position:relative;
    transition: all 0.35s;
    outline: none;
    /* margin-left: 30%; */
    background-image: linear-gradient(to right, #c0732f, #b9865a, #c0732f );
    outline: 1px solid #571E1E;
    outline-offset: -7px;
}

.tombol-batal{
  
  font-size: 1rem;
    padding: 15px 60px;
    text-align: center;
    border: none;
 
    color: #fff;
    /* margin-top: 2rem; */
    cursor:pointer;
    position:relative;
    transition: all 0.35s;
    outline: none;
    /* margin-left: 30%; */
    background-image: linear-gradient(to right, #5d001f, #8c1b2a, #5d001f );
    outline: 1px solid #ce953a;
    outline-offset: -7px;
}

/* .button-Bataltes{
  margin-left: -20%;
} */
  
  .testing {
    background-image: url(/src/components/Pic/background2.png);
    
    
    min-height: 100vh;
    background-size: 300px;
  }
  
  .app {
    margin-left: 25%;
    margin-top: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #571E1E;
    width: 50%;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    /* box-shadow: 10px 10px 42px 0px rgba(255, 116, 17, 0.75); */
    display: flex;
    justify-content: space-evenly;
  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
    color: #fff;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .button-quiz {
    margin-top: 5%;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #d5ae80;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #ac6513;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  .button-quiz:hover {
    background-color: #571515;
  }
  
  .button-quiz:focus {
    outline: none;
  }